#OPICM Middleware Server Properties
pdh_database_url=jdbc\:db2\:PDH11A
pdh_database_user=opica10
pdh_database_password=
pdh_database_connections=8

ods_database_url=jdbc\:db2\:v02pdh
ods_database_user=opicmadm
ods_database_password=
ods_database_connections=5

object_name=OPICM-Middleware
server_bind_ip_address=192.168.0.20
server_bind_port=1099

loghost_host=roger86.gbli.com
loghost_port=1234
log_filename=//webapp//DatabasePool//mwlog.txt

wait_sleep_time_ms=11
wait_timeout_ms=10000
trace=true
test_db_connection=true
connection_reset=1000
connection_checker_quantum=60000
connection_dead=900000
connection_pause=1000
client_protocol=opicm
debug_trace_level=3
inactive_restart=28800000
# instance_purpose = U is for UI, dirty dozen calls only
# instance_purpose = R is for Reports, dirty dozen calls and discrete SP calls only
instance_purpose=R
# time to shutdown each day (24 hour format HHMM eg 0200 means 2am, 1500 means 3pm)
shutdown_tod=0200
ldap_server=bluepages.ibm.com

# RMI socket type (""=default/"ssl"=use SSL)
socket_type=ssl

# SSL properties
ssl_passphrase=secret
ssl_keystore=eakeystore
ssl_truststore=eatruststore

